body{
    background-color: rgb(105, 235, 189);
  }

table, th, td {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    
  }

 table{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 1rem;
} 

#back,#save{
    width: 6rem;
    font-size: 40px;
}

.btn{
  margin-left: 92%;
}

a{
    text-decoration: none;
}

span:hover{
	color: blue;
	cursor: pointer;
}

img{
    width: 15rem;
    height:17rem;
    margin-left:80rem;
    margin-top:19rem;
  }
